---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Hero from '@components/Hero.astro';
import Nosotros from '@components/Nosotros.astro';
import Areas from '@components/Areas.astro';
import Talleres from '@components/Talleres.astro';
import Valores from '@components/Valores.astro';
import Colaborar from '@components/Colaborar.astro';
import Contacto from '@components/Contacto.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
  <Navbar />
  <main id="main">
    <Hero />
    <Nosotros />
    <Areas />
    <Talleres />
    <Valores />
    <Colaborar />
    <Contacto />
  </main>
  <Footer />
</Layout>
